.text-animate {
    display: inline-block;
    opacity: 0;
    animation: bounceIn;
    animation-duration: 1s;
    animation-delay: 1s;
    letter-spacing: 4px;
    animation-fill-mode: forwards;
    min-width: 10px;
    color: #264653;
  }
  
  .text-animate-hover {
    min-width: 10px;
    font-weight: bold;
    display: inline-block;
    animation-fill-mode: both;
    color: #264653;
  
    &:hover {
      animation: rubberBand 1s;
      color: #14213d;
    }
  }
  
  @for $i from 1 through 35 {
    .text-animate._#{$i} {
      animation-delay: #{$i / 10}s;
    }
  }

  .h-span{
    animation: bounceIn;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    color: #184E77;
  }

  .h-span-hover{
      animation: flipInX;
      animation-duration: 4s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      color: #184E77;
  }
  