@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Montserrat:ital@1&display=swap');

.navBar{
    background: rgb(171, 108, 171);
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}